{% extends "adminpannel/partials/adminpartials.html" %}
{% block header %}
{% include "adminpannel/partials/adminheader.html" %}
{% endblock %}


{% block sidenav %}
{% include "adminpannel/partials/adminsidenav.html" %}
{% endblock %}

{%block content%}
<section class="wrapper">
    <div class="col-md-12">
        <div class="row">
            <h1 class="mx-auto" style="padding-left:250px;padding-top: 40px;">Hi admin welcome,
                 Have a nice day.<i class="far fa-smile"></i>
            </h1>
        </div>
    </section>
</div>
{%endblock%}