{% extends "adminpannel/partials/adminpartials.html" %}

{%block nocontainer%}
<section class="">
  
    <div class="container">
      <h1 style= "text-align: center;">ShopKart</h1>
      <form class="login-form" style="margin-top: 70px;"  action="{%url 'login' %}" method="POST">
          {%csrf_token%}
        <div class="login-wrap">
          <p class="login-img"><i class="bi bi-lock"></i></p>
          <div class="input-group">
            <span class="input-group-addon"><i class="bi bi-person-square"></i></span>
            {{form.username}}
          </div>
          <div class="input-group">
            <span class="input-group-addon"><i class="bi bi-eye"></i></span>
            {{form.password}}
          </div>
          <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
        </div>
      </form>
    </div>
  
  
</section>
{%endblock%}